.body {
	background-color: #6f5ef2;
}

.logo {
	max-height: 35px;
	margin: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.signup-form {
	background-color: white;
	width: 360px;
	padding: 40px;
	text-align: center;
	display: absolute block	;
	margin: auto;
}


h1 {
	color: grey;
}

input {
	width: 320px;
	border: 2px;
	padding: 15px;
	background-color: #e8eaed;
}

label {
	text-align: left;
	display: inline-block;
	width: 350px;
	font-size: 18px;
	padding: 15px;
}

button {
	height: 55px;
	background-color: #00d31c;
	width: 350px;
	border: 2px;
	font-size: 20px;
}

.forgot-password {
	font-size: 14px;
	color: grey;
	text-decoration: underline;
}

a{
	color: grey;
}

.final-p {
	text-align: center;
	color: white;
}
.a-login {
	color: white;
}

button:hover {
	background-color:  #18590e;
}
